@font-face {
    font-family: "Alef";
    src: url(Alef-bold.eot);
    src: url(Alef-bold.eot?#iefix) format("embedded-opentype"),
         url(Alef-bold.woff) format("woff"),
         url(Alef-bold.ttf) format("truetype"),
         url(Alef-bold.svg#alefbold) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Alef";
    src: url(Alef-regular.eot);
    src: url(Alef-regular.eot?#iefix) format("embedded-opentype"),
         url(Alef-regular.woff) format("woff"),
         url(Alef-regular.ttf) format("truetype"),
         url(Alef-regular.svg#alefregular) format("svg");
    font-weight: 400;
    font-style: normal;
}
* { margin:0; padding:0; border:0; }
body {
	font:normal 100%/200% "Alef", Georgia, Palatino Linotype, Book Antiqua, Palatino, serif;
	background:#f3f3f3;
	color:#454545;
	text-shadow:0 1px 0 #fff;
	padding:0 0 1em 0;
}
.small { font-size:80%; }
*::-moz-selection{background:#fff; color:#000; text-shadow:0 1px 5px rgba(0, 0, 0, .3);}
*::selection{background:#fff; color:#000; text-shadow:0 1px 5px rgba(0, 0, 0, .3);}
*:disabled{ background:#ebebeb; color:#a5a5a5; }
h1, h2, h3 { text-align:center; font-weight:normal; }
h1 {
	font-size:4em; line-height:1em;
	margin-bottom:.25em;
	vertical-align:middle;
}
h2 { font-size:2em; }
h3 { font-size:1.4em; }
img {
	max-width:90%;
	margin:.25em;
	border-radius:15px;
	box-shadow:0 4px 10px -5px rgba(0, 0, 0, .5);
}
a { color:#33a; }
a:visited { color:#73a; }
ul, ol {
	margin:0 1em;
}
.wrap {
	max-width:900px;
	margin:0 auto;
}
nav {
    display:block;
    width:100%;
    clear:both;
    margin:0 0 1em 0;
}
nav span,
nav a {
    display:block;
    width:50%;
    float:left;
    text-align:center;
}
nav a {
    background:white;
    text-decoration:none;
}
nav span,
nav a:hover {
    background:#666;
    color:white;
    text-shadow:0 1px 0 black;
}
table {
	width:100%;
	border-collapse:collapse;
	table-layout:fixed;
	border:3px double #999;
	box-shadow:0 4px 10px -5px rgba(0, 0, 0, .5);
}
thead td {
	padding:0;
	border-bottom:3px double #999;
}
td {
	border:1px solid #999;
	text-align:left;
	padding:0 .5em;
}
tbody {
	font-size:.85em;
}
.half {
	width:45%;
	margin:0 2.5%;
	float:left;
}
.full { margin:0 2.5%; }
.clear { clear:both; }
.block { display:block; }
.spacer { clear:both; height:1em; }
.seperator {
	clear:both;
	height:0; margin:1em 0;
	border:1px dashed #fff;
	border-top-color:#dadada;
	box-shadow:0 0 15px rgba(0, 0, 0, .1);
}
.rtl, .rtl * { direction:rtl; }
.right { text-align:right; }
.ltr, .ltr * { direction:ltr; }
.left { text-align:left; }
.center { text-align:center; }
.ellipsis, .ellipsis * {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.pass { background:#cec; }
.fail { background:#ecc; }
small { font-size:.75em; }
a.button {
    display:inline-block;
    font:bold .75em sans-serif;
    text-decoration:none;
    padding:3px 8px;
    border-radius:25px;
    border:solid 1px grey;
    color:black;
    background:white;
    box-shadow:inset 0 -5px 10px -5px grey;
    
    transition:         all .3s;
    -moz-transition:    all .3s;
    -webkit-transition: all .3s;
    -o-transition:      all .3s;
}
a.button:hover {
    border:solid 1px black;
    color:white;
    background:grey;
    box-shadow:inset 0 5px 10px -5px black;
    text-shadow:0 -1px 0 black;
}
@media screen and (max-width: 640px) {
	h1 {
		font-size:3em;
	}
	.half {
		width:95%;
		margin:0 2.5%;
		clear:both;
	}
}